build/

curl/*
!curl/CMakeLists.txt

freetype/*
!freetype/CMakeLists.txt

giflib/*
!giflib/CMakeLists.txt

glut/*
!glut/CMakeLists.txt

libjpeg/*
!libjpeg/CMakeLists.txt

libpng/*
!libpng/CMakeLists.txt

libtiff/*
!libtiff/CMakeLists.txt

minizip/*
!minizip/CMakeLists.txt

zlib/*
!zlib/CMakeLists.txt